*{
    margin: 0;
    padding: 0;
}

.whole{
    background-image: url(img/trees.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.whole h1{
    font-family: "Rock Salt", cursive;
}

.mainbox ul li button{
    height: 100px;
    width: 200px;
}

.mainbox ul li button a{
    text-decoration: none;
}

.mainbox ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.mainbox ul li{
    margin: 100px;
    list-style: none;
}

.mvbox h1{
    font-family: "Oleo Script", system-ui;
    color: white;
}

.backbtn{
    height: 50px;
    width: 200px;
    margin-left: 850px; 
    background-color: rgb(41, 41, 41);
    font-size: large;
    color: white;
    border-radius: 20px;
    border: none;
    list-style: none;
    transition: 0.7s ease;
 }
 
 .backbtn:hover{
     border: 2px solid white;
     scale: 1.2;
     cursor: pointer;
 }
 
 .backbtn a{
     text-decoration: none;
     color: white;
     font-size: 20px;
     
 }
 
 .btn{
    margin-bottom: 100px;
 }